footer.footer
   .container

      .container__left
         .footer__logo
            a.logo__link(href="/")
               img.footer__logo-img(src='img/misc/logo-white.png', alt='ЭпплShop')
               .logo__text ЭпплShop

      .container__right
         nav.footer__sitemap
            .footer__sitemap-col
               .footer-links-title  О магазине
               ul.footer-links
                  each item in ['О нас', 'Наши цены', 'Наши скидки', 'Акции']
                     li.footer-links__item
                        a.footer-links__link(href='#')=item

            .footer__sitemap-col
               .footer-links-title  Каталог
               ul.footer-links
                  each item in ['Смартфоны', 'Планшеты', 'Компьютеры', 'Аксессуары']
                     li.footer-links__item
                        a.footer-links__link(href='#')=item

            .footer__sitemap-col
               .footer-links-title  Контакты
               ul.footer-links
                  each item in ['Телефоны', 'Адреса', 'Карта проезда', 'Обратная связь']
                     li.footer-links__item
                        a.footer-links__link(href='#')=item

         .footer__socials
            .footer__socials-btns
               ul.social-btns
                  each item in ['appstore', 'googleplay']
                     li.social-btns__item
                        a.social-btns__link(href='#')=item
                        img.social-btns__img(src='img/misc/'+item+'-btn.png', alt=item)

            .footer__socials-icons
               ul.social-list
                  each item in ['vk', 'fb', 'tw']
                     li.social-list__item
                        a.social-list__link(href='#')=item
                        img.social-list__icon(src='img/icon/'+item+'-icon.png', alt=item)
