mixin slide(src, link, linktext, descr)
   li.slider-list__item
      img.slider-list__item-img(src='img/slider/#{src}', alt='#{linktext}')
      .slider-list__tip
         a.slider-list__tip-title(href= '#{link}') #{linktext}
         .slider-list__tip-content #{descr}
.slider
   ul.slider-list
      +slide('slide-3.jpg', '#', 'iMac за пол цены', 'Принеси свой старый Mac и получи скидку на новый!' )
      +slide('slide-1.jpg', '#', 'Конкурс на концепт IPhone 7', 'Выйграй iPad Air за самый необычный и интересный дизайн нового iPhone 7.')
      +slide('slide-2.jpg', '#', 'До 31 декабря, iPhone 4 за 9900 руб.', 'Нет денег на шестой iPhone? Купи себе четвертый!')
   .slider__btns
      a.slider__btn.slider__btn_prev(href='#') Пред.
      a.slider__btn.slider__btn_next(href='#') След.
